 .u-section-1 {
  background-image: url("/images/vbbb.jpg");
  background-position: 50% 50%;
  min-height: 747px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2)  + 1140px);
  margin: 0 0 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 747px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 10px;
}

.u-section-1 .u-shape-1 {
  width: 75px;
  height: 75px;
  margin: 68px auto 0 30px;
}

.u-section-1 .u-text-1 {
  margin: 23px 0 0 30px;
}

.u-section-1 .u-text-2 {
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  margin: 51px 30px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 747px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 524px;
  height: 524px;
  background-image: url("/images/Screenshot2024-09-25224500.png");
  background-position: 50% 2.49%;
  margin: 0 auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 443px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 616px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 616px;
  }

  .u-section-1 .u-image-1 {
    width: 473px;
    height: 473px;
    transform: scaleX(-1);
    transform-origin: center center 0px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 284px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 430px;
  }

  .u-section-1 .u-image-1 {
    width: 312px;
    height: 312px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1021px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 50px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 624px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 311px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 393px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 749px;
}

.u-section-2 .u-text-1 {
  width: 525px;
  margin: 76px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 33px;
  margin-bottom: 20px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  margin: 0;
}

.u-section-2 .u-text-3 {
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 541px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 30px 37px;
}

.u-section-2 .u-image-1 {
  height: auto;
  background-image: url("/images/IMG_0280.JPG");
  background-position: 50% 50%;
  margin: 54px 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 541px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  line-height: 2.2;
  margin: 38px 0 0;
}

.u-section-2 .u-social-icons-1 {
  white-space: nowrap;
  height: 24px;
  min-height: 16px;
  width: 92px;
  min-width: 68px;
  margin: 41px auto 0 0;
}

.u-section-2 .u-icon-1 {
  height: 100%;
}

.u-section-2 .u-icon-2 {
  height: 100%;
}

.u-section-2 .u-icon-3 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 654px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 446px;
  }

  .u-section-2 .u-image-1 {
    height: 253px;
    transform-origin: center center 0px;
    transform: scaleX(-1);
    margin-right: initial;
    margin-left: initial;
    width: 253px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 446px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 508px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-image-1 {
    height: 200px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1078px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 452px;
  }

  .u-section-2 .u-image-1 {
    height: 374px;
    margin-bottom: -48px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 793px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 352px;
  }

  .u-section-2 .u-image-1 {
    height: 294px;
    margin-bottom: -2px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 737px;
}

.u-section-3 .u-text-1 {
  width: 371px;
  text-transform: none;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  font-style: italic;
  margin: 20px 258px 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-list-1 {
  margin: 45px 0 60px;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: 33.3333%;
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 488px;
  grid-gap: 0px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-3 .u-icon-1 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 15px;
}

.u-section-3 .u-group-1 {
  width: 290px;
  min-height: 186px;
  height: auto;
  margin: -65px -20px 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding-right: 0;
  padding-left: 20px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 5px;
  margin: 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-3 .u-icon-2 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 15px;
}

.u-section-3 .u-group-2 {
  width: 290px;
  min-height: 186px;
  background-size: auto;
  height: auto;
  margin: -65px -20px 0 auto;
}

.u-section-3 .u-container-layout-4 {
  padding-right: 0;
  padding-left: 20px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 5px;
  margin: 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 20px;
}

.u-section-3 .u-icon-3 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 15px;
}

.u-section-3 .u-group-3 {
  width: 290px;
  min-height: 186px;
  background-size: auto;
  height: auto;
  margin: -65px -20px 0 auto;
}

.u-section-3 .u-container-layout-6 {
  padding-right: 0;
  padding-left: 20px;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 5px;
  margin: 0;
}

.u-section-3 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px 20px;
}

.u-section-3 .u-icon-4 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 15px;
}

.u-section-3 .u-group-4 {
  width: 290px;
  min-height: 186px;
  background-size: auto;
  height: auto;
  margin: -65px -20px 0 auto;
}

.u-section-3 .u-container-layout-8 {
  padding-right: 0;
  padding-left: 20px;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 5px;
  margin: 0;
}

.u-section-3 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-3 .u-container-layout-9 {
  padding: 30px 20px;
}

.u-section-3 .u-icon-5 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 15px;
}

.u-section-3 .u-group-5 {
  width: 290px;
  min-height: 186px;
  background-size: auto;
  height: auto;
  margin: -65px -20px 0 auto;
}

.u-section-3 .u-container-layout-10 {
  padding-right: 0;
  padding-left: 20px;
}

.u-section-3 .u-text-11 {
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 5px;
  margin: 0;
}

.u-section-3 .u-text-12 {
  margin: 20px 0 0;
}

.u-section-3 .u-container-layout-11 {
  padding: 30px 20px;
}

.u-section-3 .u-icon-6 {
  height: 65px;
  width: 65px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto 0 0;
  padding: 15px;
}

.u-section-3 .u-group-6 {
  width: 290px;
  min-height: 186px;
  background-size: auto;
  height: auto;
  margin: -65px -20px 0 auto;
}

.u-section-3 .u-container-layout-12 {
  padding-right: 0;
  padding-left: 20px;
}

.u-section-3 .u-text-13 {
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 5px;
  margin: 0;
}

.u-section-3 .u-text-14 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 651px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 158px;
    margin-right: 158px;
  }

  .u-section-3 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(33.3333% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  }

  .u-section-3 .u-group-1 {
    width: 201px;
    min-height: 203px;
    height: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-group-2 {
    width: 201px;
    min-height: 203px;
    height: auto;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-group-3 {
    width: 201px;
    min-height: 203px;
    height: auto;
  }

  .u-section-3 .u-container-layout-6 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-group-4 {
    width: 201px;
    min-height: 203px;
    height: auto;
  }

  .u-section-3 .u-container-layout-8 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-group-5 {
    width: 201px;
    min-height: 203px;
    height: auto;
  }

  .u-section-3 .u-container-layout-10 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-group-6 {
    width: 201px;
    min-height: 203px;
    height: auto;
  }

  .u-section-3 .u-container-layout-12 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 951px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 48px;
    margin-right: 48px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
  }

  .u-section-3 .u-group-1 {
    width: 243px;
    min-height: 166px;
  }

  .u-section-3 .u-group-2 {
    width: 243px;
    min-height: 166px;
  }

  .u-section-3 .u-group-3 {
    width: 243px;
    min-height: 166px;
  }

  .u-section-3 .u-group-4 {
    width: 243px;
    min-height: 166px;
  }

  .u-section-3 .u-group-5 {
    width: 243px;
    min-height: 166px;
  }

  .u-section-3 .u-group-6 {
    width: 243px;
    min-height: 166px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-1 {
    width: 443px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-2 {
    width: 443px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-3 {
    width: 443px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-4 {
    width: 443px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-5 {
    width: 443px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-6 {
    width: 443px;
  }

  .u-section-3 .u-container-layout-12 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-group-1 {
    width: 235px;
  }

  .u-section-3 .u-group-2 {
    width: 235px;
  }

  .u-section-3 .u-group-3 {
    width: 235px;
  }

  .u-section-3 .u-group-4 {
    width: 235px;
  }

  .u-section-3 .u-group-5 {
    width: 235px;
  }

  .u-section-3 .u-group-6 {
    width: 235px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 393px;
}

.u-section-4 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 27px auto 0;
}

.u-section-4 .u-image-1 {
  width: 91px;
  height: 91px;
  margin: 41px auto 0 52px;
}

.u-section-4 .u-image-2 {
  width: 94px;
  height: 94px;
  margin: -91px auto 0 174px;
}

.u-section-4 .u-image-3 {
  width: 91px;
  height: 91px;
  margin: -94px auto 0 310px;
}

.u-section-4 .u-image-4 {
  width: 94px;
  height: 94px;
  margin: -91px auto 0 435px;
}

.u-section-4 .u-image-5 {
  width: 98px;
  height: 98px;
  margin: -87px 472px 0 auto;
}

.u-section-4 .u-image-6 {
  width: 98px;
  height: 98px;
  margin: -98px 333px 0 auto;
}

.u-section-4 .u-image-7 {
  width: 98px;
  height: 98px;
  margin: -98px 194px 0 auto;
}

.u-section-4 .u-image-8 {
  width: 97px;
  height: 97px;
  margin: -98px 50px 0 auto;
}

.u-section-4 .u-image-9 {
  width: 91px;
  height: 91px;
  margin: 11px auto 0 177px;
}

.u-section-4 .u-image-10 {
  width: 91px;
  height: 91px;
  margin: -91px auto 0 310px;
}

.u-section-4 .u-image-11 {
  width: 91px;
  height: 91px;
  margin: -91px auto 0 437px;
}

.u-section-4 .u-image-12 {
  width: 91px;
  height: 91px;
  margin: -91px 479px 0 auto;
}

.u-section-4 .u-image-13 {
  width: 99px;
  height: 99px;
  margin: -91px 332px 0 auto;
}

.u-section-4 .u-image-14 {
  width: 100px;
  height: 100px;
  margin: -100px 193px 0 auto;
}

.u-section-4 .u-image-15 {
  width: 134px;
  height: 89px;
  margin: -89px 36px 0 auto;
}

.u-section-4 .u-image-16 {
  width: 109px;
  height: 117px;
  margin: -108px auto 49px 34px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-8 {
    margin-top: -97px;
  }

  .u-section-4 .u-image-14 {
    margin-top: -99px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-image-5 {
    margin-right: 442px;
  }

  .u-section-4 .u-image-12 {
    margin-right: 449px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-3 {
    margin-left: 249px;
  }

  .u-section-4 .u-image-4 {
    margin-left: 246px;
  }

  .u-section-4 .u-image-5 {
    margin-right: 242px;
  }

  .u-section-4 .u-image-6 {
    margin-right: 242px;
  }

  .u-section-4 .u-image-10 {
    margin-left: 249px;
  }

  .u-section-4 .u-image-11 {
    margin-left: 249px;
  }

  .u-section-4 .u-image-12 {
    margin-right: 249px;
  }

  .u-section-4 .u-image-13 {
    margin-right: 241px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 584px;
}

.u-section-5 .u-text-1 {
  margin: 38px 963px 0 12px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 536px;
  margin: 0 0 0 auto;
}

.u-section-5 .u-image-1 {
  min-height: 480px;
  background-image: url("/images/Screenshot2024-09-25224915.png");
  background-position: 50% 100%;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px;
}

.u-section-5 .u-text-2 {
  margin: -446px auto 0 12px;
}

.u-section-5 .u-form-1 {
  height: 326px;
  margin: 38px 570px 67px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-right: 775px;
  }

  .u-section-5 .u-form-1 {
    margin-right: 370px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-right: 555px;
  }

  .u-section-5 .u-form-1 {
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1146px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 375px;
  }

  .u-section-5 .u-image-1 {
    min-height: 960px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-form-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 795px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 175px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-image-1 {
    min-height: 609px;
  }
}